#technologies {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 25px;
}

h3 {
  color: #fff;
  font-size: 25px;
  padding: 40px;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gameBoard {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 15px;
}
.card {
  width: 110px;
  height: 110px;
  position: relative;

  transform-style: preserve-3d;
  transition: transform 0.9s;
}

.icon {
  width: 80px;
}
.cardBack,
.cardFront {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

.cardFront {
  transform: rotateY(180deg);
  background-color: #2d2d2d;
}

.cardBack {
  font-family: sans-serif;
  background-color: #b040ff;
  font-size: 40px;
  font-weight: bold;
  color: #1c1c1c;
}

@media only screen and (max-width: 1200px) {
  #technologies {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media only screen and (max-width: 990px) {
  #technologies {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 800px) {
  .gameBoard {
    margin: auto;
    gap: 8px;
  }
  .card {
    width: 90px;
    height: 90px;
  }
  .icon {
    width: 60px;
  }
  .cardBack {
    font-size: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .gameBoard {
    margin: auto;
    gap: 5px;
  }
  .card {
    width: 70px;
    height: 70px;
  }
  .icon {
    width: 45px;
  }
  .cardBack {
    font-size: 25px;
  }
}
@media only screen and (max-width: 400px) {
  .card {
    width: 60px;
    height: 60px;
  }
  .icon {
    width: 40px;
  }
  .cardBack {
    font-size: 25px;
  }
}
