#about {
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}

h3 {
  font-size: 25px;
  padding: 40px;
}
p {
  font-size: 18px;
  padding-bottom: 10px;
}

.listTechnologies li {
  list-style: none;
  margin-right: 1rem;
  font-size: 16px;
}

.buttonCurriculum {
  float: right;
  color: #9800ce;
  font-size: 20px;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;

  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.buttonCurriculum:hover {
  box-shadow: 0 0 40px 40px #fff inset;
}

@media only screen and (max-width: 1200px) {
  #about {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media only screen and (max-width: 990px) {
  #about {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media only screen and (max-width: 800px) {
  #about {
    padding-top: 150px;
  }
}

@media only screen and (max-width: 620px) {
  #about {
    margin-left: 20px;
    margin-right: 20px;
  }
  .buttonCurriculum {
    padding: 5px 15px 5px 15px;
  }
}
