#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 25px;
  color: #fff;
}

h3 {
  font-size: 25px;
  padding: 40px;
}
p {
  font-size: 18px;
  padding: 0px 25px 10px 25px;
}

.buttonCurriculum {
  float: right;
  color: #9800ce;
  font-size: 20px;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;

  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.buttonCurriculum:hover {
  box-shadow: 0 0 40px 40px #fff inset;
}

@media only screen and (max-width: 1200px) {
  #about {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media only screen and (max-width: 990px) {
  #about {
    margin-left: 0px;
    margin-right: 0px;
  }
  .buttonCurriculum {
    padding: 5px 15px 5px 15px;
    margin-right: 20px;
  }
}
