<div id="about">
  <div>
    <h3>Sobre mim</h3>
    <p>
      Olá! Me chamo William Dias Marcos e meu passatempo favorito é criar
      sistemas para a internet.
    </p>
    <p>
      Meu interesse em desenvolvimento web surgiu no início de 2021, quando
      decidi pesquisar como opera a internet, como sites funcionam e como
      desenvolvê-los.
    </p>
    <p>
      Atualmente, sou um estudante na área de desenvolvimento Front-end e
      graduando em Análises e Desenvolvimento de Sistemas. Ademais, relato que
      almejo me tornar um excelente solucionador de problemas, buscando
      conhecimentos nas principais tecnologias do mercado de trabalho.
    </p>
    <p>
      Aqui estão algumas tecnologias com as quais tenho trabalhado recentemente:
    </p>
    <ul class="listTechnologies">
      <li>- Angular</li>
      <li>- React</li>
      <li>- TypeScript</li>
      <li>- JavaScript</li>
      <li>- CSS</li>
      <li>- HTML</li>
      <li>- Git</li>
    </ul>

    <a
      class="buttonCurriculum"
      href="../../../assets/Currículo_WilliamDiasMarcos.pdf"
      download=""
    >
      Currículo
    </a>
  </div>
</div>
