.header {
  height: 3.5em;
  width: 100%;
  position: fixed;
  z-index: 1;

  background-color: #040305;
  justify-content: space-between;
  padding: 0 10%;
  border-bottom: #9800ce solid 2px;
}
.header,
.navigation_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo h2 {
  width: 45px;
  color: #9800ce;
}

.navigation_header {
  position: relative;
  gap: 3em;
  z-index: 2;
}
.navigation_header a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  font-weight: bold;
}
.navigation_header a:hover {
  color: #9800ce;
}

.btn_icon_header {
  display: none;
  background-color: #040305;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.btn_icon_header:hover {
  color: #9800ce;
}

@media only screen and (max-width: 800px) {
  .btn_icon_header {
    display: block;
  }
  .btn_icon_header_2 {
    margin-right: 01em;
  }
  .navigation_header {
    position: absolute;
    flex-direction: column;
    background-color: #040305;
    padding: 1em;
    transition: 0.5s;
    right: 0%;
    top: -700%;
  }
}
