#projects {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 30px;
  padding-top: 25px;
  color: #fff;
}
h3 {
  font-size: 25px;
  padding: 40px;
}
.allProjects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.project {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  border: 2px #fff solid;
  border-radius: 5px;
  padding: 20px;
}
.projectName {
  color: #b040ff;
}
.links {
  text-decoration: none;
  margin-left: 10px;
  color: #fff;
  border-bottom: 2px solid #b040ff;
}

@media only screen and (max-width: 1200px) {
  #projects {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media only screen and (max-width: 990px) {
  #projects {
    margin-left: 0px;
    margin-right: 0px;
  }
}
