<div class="container">
  <div class="animation">
    <p class="static-text">Oi, eu sou</p>
    <div class="wrapper">
      <div class="dynamic-texts">
        <ul>
          <li><span>William Dias Marcos.</span></li>
          <li><span>Frontend Engineer.</span></li>
          <li><span>Desenvolvedor Web.</span></li>
          <li><span>Programador Frontend.</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="buttons">
    <a href="https://www.linkedin.com/in/william-dias-marcos/" target="_blank"
      >LinkedIn</a
    >
    <a href="https://github.com/William-Dias-Marcos" target="_blank">GitHub</a>
  </div>
</div>
